.type-select-button {
  display: grid;
  place-items: center;
  width: 180px;
  height: 35px;
  color: #fff;
  font-weight: 400;
  cursor: pointer;
  font-size: 13px;
  user-select: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  border-right: 1px solid rgba(255, 255, 255, 0.05);
  transition: 0.5s;
  background: none;
  border-radius: 25px;
  padding: 0;
  border: none;
}
.active {
  transition: 0.2s;
  background: rgba(255, 255, 255, 0.15);
}
